# FastAPI and server
fastapi
uvicorn[standard]

# Database
sqlalchemy
psycopg2-binary
alembic

# Data processing
pandas

# Environment variables
python-dotenv

# Security & Authentication
passlib[bcrypt]
python-jose[cryptography]

# Templating
Jinja2
